* {
	font-family: Verdana, Tahoma, "San Serif";
}

html, body {
	background: #111;
	margin: 0;
	padding: 0;
	font-size: 12px;
}

a {
	text-decoration: none;
}

p{
	margin: 0;
}

td:hover {
	cursor: pointer;
}


.tileButton:hover {
	cursor: pointer;
	opacity: 0.7;
}

#toolBox {
	display: none;
	float: left;
	position: fixed;
	margin: 10px;
	z-index: 20;
}

#toolBox p {
	color: #ccc;
	text-shadow: 0px 0px 2px black;
}

#preload{
	background-color: #efefef;
	padding: 10px;
	width: 500px;
	position: fixed;
	left: calc(50% - 250px);
	top: 100px;
	z-index: 20;
	border-radius: 6px;
}

#optionButton {
	margin-bottom: 10px;
}

#options {
	background-color: #efefef;
	padding: 10px;
	width: 500px;
	position: fixed;
	left: calc(50% - 250px);
	top: 100px;
	z-index: 20;
}

#options fieldset{
	margin: 10px;
}

#options input{
	margin: 2px;
}

#options select{
	margin: 2px;
}

#infoBox {
	display: none;
	position: absolute;
	background-color: #ccc;
	padding: 5px;
	font-weight: bold;
	margin-bottom: 10px;
	z-index: 10;
	opacity: 0.8;
	border-radius: 4px;
	white-space: nowrap;
}

#info {
	margin: 5px;
}
/*
.toolBox24, .toolBox24 input, .toolBox24 button {
	font-size: 9px !important;
}

.toolBox32, .toolBox32 input, .toolBox32 button {
	font-size: 10px !important;
}
*/
#general * {
	margin: 2px;
}

#mirrorMap {
    border-spacing: 1;
    border-collapse: separate;
	display: inline-block;
}

#mirrorMap td {
	width: 15px;
	padding: 5px;
	transition: all 0.3s;
	border: 1px solid black;
}

#mirrorMap tr {
	transition: all 0.3s;
}

#mirrorMap td.active {
	background-color: #ccc;
	cursor: pointer;
}

.rotate90 {
	transform: rotate(90deg);
}

.rotate180 {
	transform: rotate(180deg);
}

.rotate270 {
	transform: rotate(270deg);
}

.mirrorVertical {
	transform: scale(1, -1);
}

.mirrorHorizontal {
	transform: scale(-1, 1);
}

.mirrorBoth {
	transform: scale(-1, -1);
}

#dropMessage {
	display: none;
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: #efefef;
	opacity: 0.7;
	z-index: 200;
}

#dropMessage p {
	padding: 10px;
	border: 3px dashed #333;
	margin-left: auto;
	margin-right: auto;
	width: 400px;
	text-align: center;
	margin-top: 20%;
	font-size: 45px;
}

#versionInfo {
	display: none;
	margin-top: 3px;
}

.plus {
	color: green;
	font-weight: bold;
}

.minus {
	color: red;
	font-weight: bold;
}

#resizeTable td {
	border: 1px solid #ccc;
	font-size: 21px;
}

button:disabled img {
	opacity: 0.4;
}

#previewCanvas {
	box-shadow: 0px 0px 5px white;
	width: 250px;
	height: 250px;
	position: fixed;
	right: 20px;
	top: 20px;
}

#preview {
	box-shadow: 0px 0px 5px white;
	position: absolute;
	right: 20px;
	top: 20px;
}